<nav class="navbar main-nav navbar-expand-lg px-2 px-sm-0 py-2 py-lg-0">
  <div class="container">
    <a class="navbar-brand" href="index.html"><h3>Tab</h3></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="ti-menu"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown @@home">
          <a class="nav-link dropdown-toggle" href="index.html" data-toggle="dropdown">Home
<!--            <span><i class="ti-angle-down"></i></span>-->
          </a>
          <!-- Dropdown list -->
<!--          <ul class="dropdown-menu">-->
<!--            <li><a class="dropdown-item @@home1" href="index.html">Homepage</a></li>-->
<!--            <li><a class="dropdown-item" href="homepage-2.html">Homepage 2</a></li>-->
<!--            <li><a class="dropdown-item @@home3" href="homepage-3.html">Homepage 3</a></li>-->

<!--            <li class="dropdown dropdown-submenu dropright">-->
<!--              <a class="dropdown-item dropdown-toggle" href="#!" id="dropdown0301" role="button"-->
<!--                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sub Menu</a>-->

<!--              <ul class="dropdown-menu" aria-labelledby="dropdown0301">-->
<!--                <li><a class="dropdown-item" href="index.html">Submenu 11</a></li>-->
<!--                <li><a class="dropdown-item" href="index.html">Submenu 12</a></li>-->
<!--              </ul>-->
<!--            </li>-->
<!--          </ul>-->
        </li>
<!--        <li class="nav-item dropdown @@pages">-->
<!--          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Pages-->
<!--            <span><i class="ti-angle-down"></i></span>-->
<!--          </a>-->
<!--          &lt;!&ndash; Dropdown list &ndash;&gt;-->
<!--          <ul class="dropdown-menu">-->
<!--            <li><a class="dropdown-item @@team" href="homepage-2.html">Tab Invoices Desktop</a></li>-->
<!--            <li><a class="dropdown-item @@career" href="homepage-3.html">Tab Communications Mobile</a></li>-->
<!--            &lt;!&ndash;            <li><a class="dropdown-item @@blog" href="blog.html">Blog</a></li>&ndash;&gt;-->
<!--            &lt;!&ndash;            <li><a class="dropdown-item @@blogSingle" href="blog-single.html">Blog Single</a></li>&ndash;&gt;-->
<!--            &lt;!&ndash;            <li><a class="dropdown-item @@privacy" href="privacy-policy.html">Privacy</a></li>&ndash;&gt;-->
<!--            &lt;!&ndash;            <li><a class="dropdown-item @@faq" href="FAQ.html">FAQ</a></li>&ndash;&gt;-->
<!--            &lt;!&ndash;            <li><a class="dropdown-item" href="sign-in.html">Sign In</a></li>&ndash;&gt;-->
<!--            &lt;!&ndash;            <li><a class="dropdown-item" href="sign-up.html">Sign Up</a></li>&ndash;&gt;-->
<!--            &lt;!&ndash;            <li><a class="dropdown-item" href="404.html">404</a></li>&ndash;&gt;-->
<!--            &lt;!&ndash;            <li><a class="dropdown-item" href="comming-soon.html">Coming Soon</a></li>&ndash;&gt;-->

<!--            &lt;!&ndash;            <li class="dropdown dropdown-submenu dropleft">&ndash;&gt;-->
<!--            &lt;!&ndash;              <a class="dropdown-item dropdown-toggle" href="#!" id="dropdown0501" role="button"&ndash;&gt;-->
<!--            &lt;!&ndash;                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sub Menu</a>&ndash;&gt;-->

<!--            &lt;!&ndash;              <ul class="dropdown-menu" aria-labelledby="dropdown0501">&ndash;&gt;-->
<!--            &lt;!&ndash;                <li><a class="dropdown-item" href="index.html">Submenu 21</a></li>&ndash;&gt;-->
<!--            &lt;!&ndash;                <li><a class="dropdown-item" href="index.html">Submenu 22</a></li>&ndash;&gt;-->
<!--            &lt;!&ndash;              </ul>&ndash;&gt;-->
<!--            &lt;!&ndash;            </li>&ndash;&gt;-->
<!--          </ul>-->
<!--        </li>-->
        <li class="nav-item @@about">
          <a class="nav-link" href="about.html">About</a>
        </li>
        <li class="nav-item @@contact">
          <a class="nav-link" href="contact.html">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
